# === Ficheros de Datos y Logs ===
data.csv
tiempo.jsonl
*.log
bizi.ppk

# === Variables de entorno ===
.env

# === Ficheros de Entorno Virtual ===
/Include
/Lib
/Scripts
pyvenv.cfg

# === Ficheros de Python Compilados ===
__pycache__/
*.pyc